rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ユーザープロファイル
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // プロジェクトへのアクセス
    match /projects/{projectId} {
      allow read, write: if request.auth != null;
      
      // タスクへのアクセス
      match /tasks/{taskId} {
        allow read, write: if request.auth != null;
      }
    }
  }
}
